<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
    <%- include("partials/head")%>
  </head>
  <%- include("partials/navigation") %>

<body>
    
    
    
    <div class="p-3 mb-2 ml-5 mr-5 mt-3"   >
    
    <div class="card mb-3" style="margin:0 auto; max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 w-25 h-25" style="overflow:hidden; height:  100%;" >
           <img style="max-width: 250px;
           max-height: 250px;" src="./img/contact.jpg">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Get in touch!</h5>
              <p class="card-text">Feel free to contact us to suggest improvements,
                   report an error or whatever you want really</p>
              <p class="card-text">
                 <p class="card-text"><ion-icon name="mail"></ion-icon> decklab@gmail.com</p>
                 <p class="card-text"> <ion-icon name="logo-twitter"></ion-icon> decklab</p>
               
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
<%- include("partials/footer")%>
</html>