<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
</head>

<body>
    <%- include("partials/navigation") %>
    <%- include("partials/head")%>
    
    <div class="p-3 mb-2 ml-5 mr-5 mt-3">
    <h3>Get in touch!</h3>
    

    </div>
</body>
<%- include("partials/footer")%>
</html>