<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
</head>
<body>
    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    <div class="p-3 mb-2 ml-5 mr-5 mt-3">
        <h3>Welcome to DeckLab!</h3>

       <p> A webpage where you can have a digital deck, make your experiments and discover combinations with 
        our algorithm!</p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 
        </p>
        <div style="text-align: center;">
            <img src="./img/example.jpeg" width="50%" height="50%" style="justify-content: center;">  
        </div>
              
    </div>
    
    
    
    
</body>
<%- include("partials/footer")%>
</html>