<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
</head>
<body>
    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    <div class="p-3 mb-2 ml-5 mr-5 mt-3">
        <h3>Welcome to DeckLab!</h3>

       <p> A webpage where you can have a digital deck, make your experiments and discover combinations with 
        our algorithm!</p>

        <p>
            Here you will have an explanation of every function and also how combinations and stacks are 
            added (from two places each).
            Also an explanation of the algorithm.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 
        </p>
        <div style="text-align: center;">
            <img src="./img/example.png" width="50%" height="50%" style="justify-content: center;">  
        </div>
              
    </div>
    
    
    
    
</body>
<%- include("partials/footer")%>
</html>



<!--
  1. Hacer que funcionen todas las funciones sobre las cartas. Mirar el método de shuffle,
  hacer métodos haciendo copias del "array"? 
    1.1 Métodos fáciles y que  pasan parámetros con dropdowns. Cortar, invertir...
    1.2 Los demás: faros...
    1.3 Detalles como que ponga carta entre parentesis en los desplegables
    1.4 Desplegables directamente con botón

    Hacer funciones invertir, cortar y cambiar con jquery sorteable y que se iluminnen los botones que
    puedes usar al seleccionar carta.
    Funcion cambiar carta que haya que dar a un botón antes para poder hacerlo, y que salga algo de "Now drag
    a card into its new position"
    Asegurar que mientras se opera en el lab se puede ver current combination y my combinations!
    Hacer el tema de cuando se seleccionen cartas solo se habiliten botones que se puedan usar
  2. Hacer funciones para poner un stack, que sea una sola función si es posible a la que le pasas
  como parámetro el stack que quieres

  3. Que se escriba todo en current combination y que dos operaciones que puedan resumirse en una
  lo hagan.

  4. Hacer estilos poniendo por un lado la elección del stack y luego las funciones disponibles

  5. Jquery para que al clickar las cartas se extiendan. Que ponga "Haz click para extender cartas". 
  Animaciones de las cartas al moverse

  6. Hacer estilos responsive y hacer que en caso de móvil aparezca el mensaje de "gira el móvil". 
  Subirlo a github.io para poder probar esas cosas y usar la herramienta esa de chrome.

  7. En inspeccionar elemento esconder codigo

  --- Enseñar a magos y decidir si hago lo de mysql y tal---

  7. Migrar a mysql (¿Proyecto nuevo con mismo comando pero sin mongodb?). 
    7.1 Log in
    7.2 BBDD con combinaciones
    7.3 Que se puedan añadir combinaciones 
    7.4 Hacer profile con una de esas cards con dos pestañas ("My stacks" y "My combinations")



-->