<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
</head>
<body>
    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    <div class="p-3 mb-2 ml-5 mr-5 mt-3">
        <h3>Welcome to DeckLab!</h3>

       <p> A webpage where you can have a digital deck, make your experiments and discover combinations with 
        our algorithm!</p>

        <p>
            Here you will have an explanation of every function and also how combinations and stacks are 
            added (from two places each).
            Also an explanation of the algorithm.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum nunc est, vitae 
            iaculis velit pellentesque sit amet. Donec porta nisl ut augue hendrerit, non
             imperdiet arcu porttitor. Etiam ac leo volutpat, placerat dolor quis, accumsan
              tellus. Suspendisse nec justo ut enim malesuada tristique at vitae felis. Ut 
              id tortor risus. Pellentesque tempor est quis suscipit ullamcorper. Duis in mollis
               est, ut fermentum dui. 

               Here we have an example on how to use this page to check how we can get Mnemonica from a New Deck Order 
               (Sinfonía en Mnemonica Mayor Vol. I Juan Tamariz)
        </p>
        <div style="text-align: center;">
            <video width="70%" height="70%" controls>
                <source src="./vid/mnemonica.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>  
        </div>
        
        

          
    </div>
    
    
    
    
</body>
<%- include("partials/footer")%>
</html>



<!--

  1. Clear Last
    
   2. Selectable:
        Hacer que siempre tenga que ser desde la primera
        Que se seleccione bonito
        Que se pueda deseleccionar al clickar fuera
        Que se pueda arrastrar el raton desde fuera

   3. Sorteable Jquery para cambiar de carta. "Now drag
    a card into its new position" Que lo ponga en algún sitio cuando das al botó de activar. Hover? O que
    salga encima de la baraja de manera intermitente en el mismo elemento donde sale el nombre de la 
    baraja si llegaras o cuando se pone en origin stack

   4. Inverso de todas las funciones

    5. Jquery para que al clickar las cartas se extiendan. Que ponga "Haz click para extender cartas". 
  Animaciones de las cartas al moverse

   5. Descargar combinaciones y stacks y poder subirlos

   6. Que cuando coincida con una baraja, o pase algo especial con el stack al que se llega, que salga
    un mensaje delante de la baraja con efecto. Mejorar la manera en la que sale en "current combination"

   7. Botón de reducir combinación y quitar botones que sobren de la caja de "current combination"

   8. Mezcla mano, mezcla americana (pensar en qué lab va a estar)

    9. Opción de meter jokers y de marcar cartas para seguirlas y darlas la vuelta (que se den
    la vuelta y se vea el dorso pero que ponga qué carta es)

    10. Barajas incompletas (Pensar en qué labs tienen sentido estas barajas)

    11. Animaciones para cuando se muevan las cartas? 

    12. Instrucciones en los botones disabled para guiar al usuario y sepa por qué están desactivados

    13. Asegurar que mientras se opera en el lab se puede ver current combination y my combinations!

    Para cuando el usuario pinche fuera sin querer:
        https://www.geeksforgeeks.org/how-to-hide-a-div-when-the-user-clicks-outside-of-it-using-jquery/


    14. Esconder codigo cliente 
    https://code-boxx.com/hide-javascript-code-from-client/

 

  6. Hacer estilos responsive y hacer que en caso de móvil aparezca el mensaje de "gira el móvil". 
  Subirlo a github.io para poder probar esas cosas y usar la herramienta esa de chrome.

  7. En inspeccionar elemento esconder codigo

  --- Enseñar a magos y decidir si hago lo de mysql y tal---

  7. Migrar a mysql (¿Proyecto nuevo con mismo comando pero sin mongodb?). 
    7.1 Log in
    7.2 BBDD con combinaciones
    7.3 Que se puedan añadir combinaciones 
    7.4 Hacer profile con una de esas cards con dos pestañas ("My stacks" y "My combinations")





Que el lab cambie para hacer distintos estudios: (nuevos botones o ver qué cambios hay que hacer)
Que haya una parte común a todos (descargar baraja, el tapete igual...)

    - Set up your deck
    - General lab (para experimentar donde quedan cartas?)
    - Poker/ card game (que se puedan hacer deals y al recoger ver qué se puede hacer con esa baraja)
        Meter aquí la caja del poker, del black jack...etc
    - Principio Gilbreath
    - 
    - Preguntar por más opciones!



Para el algoritmo, combinaciones más fáciles que descubrir:

Descubrir combinaciones del estilo: mnemonica a todas negras y rojas, menomica a 4 cartas juntas, a un palo junto y ordenado,
homologas una al lado de la otra, buscar cosas de poker (mnemonica a dar escalera real y a otro un poker). 

Hacerlo con todas las operaciones pero solo probando 3 pasos. INcluida la operación de repartir una mano de poker
-->