<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
    
   
</head>
<body>
  
   
  

    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    
    <!--TÃTULO-------------------------------------------------------------------->

      <div class="p-3 mb-0 ml-5 mr-5 mt-0">
        <h3>  Laboratory</h3>
      </div>


      <!--TAPETE ----------------------------------------------------------------->


         <!--CARTAS--------------------->

      <div class="tapete p-3 mb-2 ml-5 mr-5 mt-0 text-white shadow-lg"> 
          
        <div class="naipes" >
          <div class="naipe" id="1"><img class="naipeImg" src="/img/cards/AH.png" > </div>
          <div class="naipe" id="2"><img class="naipeImg" src="/img/cards/2H.png" > </div>
          <div class="naipe" id="3"><img class="naipeImg" src="/img/cards/3H.png" > </div>
          <div class="naipe" id="4"><img class="naipeImg" src="/img/cards/4H.png" > </div>
          <div class="naipe" id="5"><img class="naipeImg" src="/img/cards/5H.png" > </div>
          <div class="naipe" id="6"><img class="naipeImg" src="/img/cards/6H.png" > </div>
          <div class="naipe" id="7"><img class="naipeImg" src="/img/cards/7H.png" > </div>
          <div class="naipe" id="8"><img class="naipeImg" src="/img/cards/8H.png" > </div>
          <div class="naipe" id="9"><img class="naipeImg" src="/img/cards/9H.png" > </div>
          <div class="naipe" id="10"><img class="naipeImg" src="/img/cards/0H.png" > </div>
          <div class="naipe" id="11"><img class="naipeImg" src="/img/cards/JH.png" > </div>
          <div class="naipe" id="12"><img class="naipeImg" src="/img/cards/QH.png" > </div>
          <div class="naipe" id="13"><img class="naipeImg" src="/img/cards/KH.png" > </div>

          <div class="naipe" id="1"><img class="naipeImg" src="/img/cards/AC.png" > </div>
          <div class="naipe" id="2"><img class="naipeImg" src="/img/cards/2C.png" > </div>
          <div class="naipe" id="3"><img class="naipeImg" src="/img/cards/3C.png" > </div>
          <div class="naipe" id="4"><img class="naipeImg" src="/img/cards/4C.png" > </div>
          <div class="naipe" id="5"><img class="naipeImg" src="/img/cards/5C.png" > </div>
          <div class="naipe" id="6"><img class="naipeImg" src="/img/cards/6C.png" > </div>
          <div class="naipe" id="7"><img class="naipeImg" src="/img/cards/7C.png" > </div>
          <div class="naipe" id="8"><img class="naipeImg" src="/img/cards/8C.png" > </div>
          <div class="naipe" id="9"><img class="naipeImg" src="/img/cards/9C.png" > </div>
          <div class="naipe" id="10"><img class="naipeImg" src="/img/cards/0C.png" > </div>
          <div class="naipe" id="11"><img class="naipeImg" src="/img/cards/JC.png" > </div>
          <div class="naipe" id="12"><img class="naipeImg" src="/img/cards/QC.png" > </div>
          <div class="naipe" id="13"><img class="naipeImg" src="/img/cards/KC.png" > </div>

          <div class="naipe" id="1"><img class="naipeImg" src="/img/cards/KD.png" > </div>
          <div class="naipe" id="2"><img class="naipeImg" src="/img/cards/QD.png" > </div>
          <div class="naipe" id="3"><img class="naipeImg" src="/img/cards/JD.png" > </div>
          <div class="naipe" id="4"><img class="naipeImg" src="/img/cards/0D.png" > </div>
          <div class="naipe" id="5"><img class="naipeImg" src="/img/cards/9D.png" > </div>
          <div class="naipe" id="6"><img class="naipeImg" src="/img/cards/8D.png" > </div>
          <div class="naipe" id="7"><img class="naipeImg" src="/img/cards/7D.png" > </div>
          <div class="naipe" id="8"><img class="naipeImg" src="/img/cards/6D.png" > </div>
          <div class="naipe" id="9"><img class="naipeImg" src="/img/cards/5D.png" > </div>
          <div class="naipe" id="10"><img class="naipeImg" src="/img/cards/4D.png" > </div>
          <div class="naipe" id="11"><img class="naipeImg" src="/img/cards/3D.png" > </div>
          <div class="naipe" id="12"><img class="naipeImg" src="/img/cards/2D.png" > </div>
          <div class="naipe" id="13"><img class="naipeImg" src="/img/cards/AD.png" > </div>

          <div class="naipe" id="1"><img class="naipeImg" src="/img/cards/KS.png" > </div>
          <div class="naipe" id="2"><img class="naipeImg" src="/img/cards/QS.png" > </div>
          <div class="naipe" id="3"><img class="naipeImg" src="/img/cards/JS.png" > </div>
          <div class="naipe" id="4"><img class="naipeImg" src="/img/cards/0S.png" > </div>
          <div class="naipe" id="5"><img class="naipeImg" src="/img/cards/9S.png" > </div>
          <div class="naipe" id="6"><img class="naipeImg" src="/img/cards/8S.png" > </div>
          <div class="naipe" id="7"><img class="naipeImg" src="/img/cards/7S.png" > </div>
          <div class="naipe" id="8"><img class="naipeImg" src="/img/cards/6S.png" > </div>
          <div class="naipe" id="9"><img class="naipeImg" src="/img/cards/5S.png" > </div>
          <div class="naipe" id="10"><img class="naipeImg" src="/img/cards/4S.png" > </div>
          <div class="naipe" id="11"><img class="naipeImg" src="/img/cards/3S.png" > </div>
          <div class="naipe" id="12"><img class="naipeImg" src="/img/cards/2S.png" > </div>
          <div class="naipe" id="13"><img class="naipeImg" src="/img/cards/AS.png" > </div>
         
      
        </div>


          <!--OPERATIONS--------------------->
          <div  class="operations p-3 mb-2">

            <!--ORIGIN STACK-->
            Invertir <input id ="invertidas" type="number" name="fname"><br> cartas
            <button  id="invertir"> Invertir</button>

            <!--BUTTONS-->
            <div class="ml-2">
              <button  id="faroExt"> Faro Exterior</button>
              <button id="faroInt"> Faro Interior</button>
              <button id="invertir"> Invertir n cartas</button>
              <button id="cut"> Cortar por la 3 (Delante del )</button>
              <button> Carta x en posicion n</button>
              <button> Antifaro</button>
              <button> Clear last operation</button>
              
            </div>

            
          </div>
        
            
         
      </div>
      
       
     

      <!--CURRENT COMBINATION--------------------------------------------->
      
      <div class="card ml-2 border border-secondary"  >
        <h5 class="card-header">Current combination</h5>
        <div class=" d-flex flex-row border-top border-secondary">
          <div class="card-body" >
            <p class="card-text" id="currentComb"> 

            </p>
              
          </div>
            
          <div class="mb-2 ml-1 mr-2 mt-2" style="text-align: center; display: flex; flex-direction: column;">
              <button class="btn-info mb-1 ml-1 mr-1 mt-1 " data-toggle="tooltip" data-html="true" title="Add combination and it will appear in your saved combinations">Add new combination</button>
              <button class="btn-info mb-1 ml-1 mr-1 mt-1" data-toggle="tooltip" data-html="true" title="Add combination and stack appearing in the screen and they will appear in your saved combinations and stacks">Add stack and combination</button>
              <button class="btn-info mb-1 ml-1 mr-1 mt-1 " data-toggle="tooltip" data-html="true" title="Clear current combination on screen" style="align-self: center;" id = "clear">Clear</button>
          </div>
        </div>
      </div>
        
       
      <!--YOUR COMBINATIONS------------------------------------------------------------------->

        <div class="card ml-2 mt-1 mb-2 border border-secondary">
          <h5 class="card-header">Your combinations - Here we will have a Carousel</h5> 
          <div class="card-body border-top border-secondary">
            <p class="card-text"> <strong> Mnemonica</strong> --> Faro Shuffle Int -->
            Faro Shuffle Ext --> Cut by 5 Hearts --> Faro Shuffle Ext --> <strong>Aronson</strong>--> Cut by A Spades
            --> Faro Shuffle Int --> <strong>New Deck Order </strong></p>
            <button id="shuffle"> Random Shuffle</button>
          </div>
        </div>
       
       
</body>

<!--FUNCIONES--------------------------------------------------------------------------------->

  <!--JQUERY -------------------------->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<script
src="https://unpkg.com/@popperjs/core@2"
>
</script>

<!--JAVASCRIPT-------------------------->
<script src="functions.js">

</script>


<%- include("partials/footer")%>
</html>