<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
    
   
</head>
<body>
  
   
  

    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    
    <!--TÃTULO-------------------------------------------------------------------->

      <div class="p-3 mb-0 ml-5 mr-5 mt-0">
        <h3>  Laboratory</h3>
      </div>

        <!--ORIGIN STACK-->
        <div class="origin mb-3">
          <label class="mr-2" for="stacks">Select origin stack </label>
          <select class = "mr-2" id="stacks" class="mb-2">
            <option value="Mnemonica">Mnemonica</option>
            <option value="Aronson">Aronson</option>
            <option value="New Deck Order">New Deck Order</option>
            <option value="Eight Kings">Eight Kings</option>
            <option value="Randomly Shuffled">Randomly Shuffled</option>
            <option value="Si Stebbins">Si Stebbins</option>
          </select>
          <button  id="apply_stack"> Apply</button>
  
        </div>

      <!--TAPETE ----------------------------------------------------------------->

         

      <div class="tapete p-3 mb-2 ml-5 mr-5 mt-0 text-white shadow-lg"> 

        
        
           <!--CARTAS--------------------->
        <div class="naipes mt-3 mb-3 ml-3" >
          <div class="naipe" id="0151"><img class="naipeImg" src="/img/cards/AH.png" > </div>
          <div class="naipe" id="0202"><img class="naipeImg" src="/img/cards/2H.png" > </div>
          <div class="naipe" id="0328"><img class="naipeImg" src="/img/cards/3H.png" > </div>
          <div class="naipe" id="0405"><img class="naipeImg" src="/img/cards/4H.png" > </div>
          <div class="naipe" id="0508"><img class="naipeImg" src="/img/cards/5H.png" > </div>
          <div class="naipe" id="0623"><img class="naipeImg" src="/img/cards/6H.png" > </div>
          <div class="naipe" id="0741"><img class="naipeImg" src="/img/cards/7H.png" > </div>
          <div class="naipe" id="0814"><img class="naipeImg" src="/img/cards/8H.png" > </div>
          <div class="naipe" id="0917"><img class="naipeImg" src="/img/cards/9H.png" > </div>
          <div class="naipe" id="1038"><img class="naipeImg" src="/img/cards/0H.png" > </div>
          <div class="naipe" id="1120"><img class="naipeImg" src="/img/cards/JH.png" > </div>
          <div class="naipe" id="1211"><img class="naipeImg" src="/img/cards/QH.png" > </div>
          <div class="naipe" id="1335"><img class="naipeImg" src="/img/cards/KH.png" > </div>

          <div class="naipe" id="1443"><img class="naipeImg" src="/img/cards/AC.png" > </div>
          <div class="naipe" id="1527"><img class="naipeImg" src="/img/cards/2C.png" > </div>
          <div class="naipe" id="1604"><img class="naipeImg" src="/img/cards/3C.png" > </div>
          <div class="naipe" id="1701"><img class="naipeImg" src="/img/cards/4C.png" > </div>
          <div class="naipe" id="1830"><img class="naipeImg" src="/img/cards/5C.png" > </div>
          <div class="naipe" id="1950"><img class="naipeImg" src="/img/cards/6C.png" > </div>
          <div class="naipe" id="2047"><img class="naipeImg" src="/img/cards/7C.png" > </div>
          <div class="naipe" id="2133"><img class="naipeImg" src="/img/cards/8C.png" > </div>
          <div class="naipe" id="2244"><img class="naipeImg" src="/img/cards/9C.png" > </div>
          <div class="naipe" id="2324"><img class="naipeImg" src="/img/cards/0C.png" > </div>
          <div class="naipe" id="2436"><img class="naipeImg" src="/img/cards/JC.png" > </div>
          <div class="naipe" id="2513"><img class="naipeImg" src="/img/cards/QC.png" > </div>
          <div class="naipe" id="2618"><img class="naipeImg" src="/img/cards/KC.png" > </div>

          <div class="naipe" id="2726"><img class="naipeImg" src="/img/cards/KD.png" > </div>
          <div class="naipe" id="2848"><img class="naipeImg" src="/img/cards/QD.png" > </div>
          <div class="naipe" id="2932"><img class="naipeImg" src="/img/cards/JD.png" > </div>
          <div class="naipe" id="3049"><img class="naipeImg" src="/img/cards/0D.png" > </div>
          <div class="naipe" id="3152"><img class="naipeImg" src="/img/cards/9D.png" > </div>
          <div class="naipe" id="3229"><img class="naipeImg" src="/img/cards/8D.png" > </div>
          <div class="naipe" id="3303"><img class="naipeImg" src="/img/cards/7D.png" > </div>
          <div class="naipe" id="3407"><img class="naipeImg" src="/img/cards/6D.png" > </div>
          <div class="naipe" id="3525"><img class="naipeImg" src="/img/cards/5D.png" > </div>
          <div class="naipe" id="3642"><img class="naipeImg" src="/img/cards/4D.png" > </div>
          <div class="naipe" id="3712"><img class="naipeImg" src="/img/cards/3D.png" > </div>
          <div class="naipe" id="3819"><img class="naipeImg" src="/img/cards/2D.png" > </div>
          <div class="naipe" id="3939"><img class="naipeImg" src="/img/cards/AD.png" > </div>

          <div class="naipe" id="4031"><img class="naipeImg" src="/img/cards/KS.png" > </div>
          <div class="naipe" id="4146"><img class="naipeImg" src="/img/cards/QS.png" > </div>
          <div class="naipe" id="4245"><img class="naipeImg" src="/img/cards/JS.png" > </div>
          <div class="naipe" id="4334"><img class="naipeImg" src="/img/cards/0S.png" > </div>
          <div class="naipe" id="4409"><img class="naipeImg" src="/img/cards/9S.png" > </div>
          <div class="naipe" id="4522"><img class="naipeImg" src="/img/cards/8S.png" > </div>
          <div class="naipe" id="4637"><img class="naipeImg" src="/img/cards/7S.png" > </div>
          <div class="naipe" id="4715"><img class="naipeImg" src="/img/cards/6S.png" > </div>
          <div class="naipe" id="4816"><img class="naipeImg" src="/img/cards/5S.png" > </div>
          <div class="naipe" id="4940"><img class="naipeImg" src="/img/cards/4S.png" > </div>
          <div class="naipe" id="5021"><img class="naipeImg" src="/img/cards/3S.png" > </div>
          <div class="naipe" id="5110"><img class="naipeImg" src="/img/cards/2S.png" > </div>
          <div class="naipe" id="5207"><img class="naipeImg" src="/img/cards/AS.png" > </div>
         
      
        </div> 
         
      </div>
      
      <!--OPERATIONS--------------------->
      <div  class="operations p-3 mb-2">

            
        <!--BUTTONS-->
        <div class="ml-2">

            <!--INVERTIR---->
          <label for="invertidas">Inverse </label>
          <select id="invertidas">
          
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
          </select>
          
          <button  id="invertir"> Inverse</button>

          <!--CORTAR---->
          <label for="cortadas">Cut </label>
          <select id="cortadas">
          
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
           
          </select>
          
          <button  id="cut"> Cut</button>
          
          <!--CHANGE CARD POSITION-->

          <label for="cambiadas">Put card  </label>
          <select id="cambiadas">

            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
           
          </select>

          <label for="cambiadas1">in position</label>
          <select id="cambiadas1">

            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
           
          </select>
          <button id="change"> Change</button>

          <button  id="faroExt"> Faro Exterior</button>
          <button id="faroInt"> Faro Interior</button>      
          
          <button> Faro Exterior Parcial</button>
          <button> Faro Interior Parcial</button>
          <button> Antifaro</button>
          <button> Clear last operation</button>
          
        </div>

        <div style="text-align: center;">
      ... click <a href="/">here</a> to see a guide on the different operations you can use!
        </div>
      </div>
       
     

      <!--CURRENT COMBINATION--------------------------------------------->
      
      <div class="card ml-2 border border-secondary"  >
        <h5 class="card-header">Current combination</h5>
        <div class=" d-flex flex-row border-top border-secondary">
          <div class="card-body" >
            <p id="stackOrigen"> 
              <strong>New Deck Order</strong>

            </p>
            <p class="card-text" id="currentComb"> 

            </p>
              
          </div>
            
          <div class="mb-2 ml-1 mr-2 mt-2" style="text-align: center; display: flex; flex-direction: column;">
              <button class="btn-info mb-1 ml-1 mr-1 mt-1 " data-toggle="tooltip" data-html="true" title="Add combination and it will appear in your saved combinations">Add new combination</button>
              <button class="btn-info mb-1 ml-1 mr-1 mt-1" data-toggle="tooltip" data-html="true" title="Add combination and stack appearing in the screen and they will appear in your saved combinations and stacks">Add stack and combination</button>
              <button class="btn-info mb-1 ml-1 mr-1 mt-1 " data-toggle="tooltip" data-html="true" title="Clear current combination on screen" style="align-self: center;" id = "clear">Clear</button>
          </div>
        </div>
      </div>
        
       
      <!--YOUR COMBINATIONS------------------------------------------------------------------->

        <div class="card ml-2 mt-1 mb-2 border border-secondary">
          <h5 class="card-header">Your combinations - Here we will have a Carousel</h5> 
          <div class="card-body border-top border-secondary">
            <p class="card-text"> <strong> Mnemonica</strong> --> Faro Shuffle Int -->
            Faro Shuffle Ext --> Cut by 5 Hearts --> Faro Shuffle Ext --> <strong>Aronson</strong>--> Cut by A Spades
            --> Faro Shuffle Int --> <strong>New Deck Order </strong></p>
            
          </div>
        </div>
       
       
</body>

<!--FUNCIONES--------------------------------------------------------------------------------->

  <!--JQUERY -------------------------->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<script
src="https://unpkg.com/@popperjs/core@2"
>
</script>

<!--JAVASCRIPT-------------------------->
<script src="functions.js">

</script>


<%- include("partials/footer")%>
</html>