<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeckLab</title>
    
</head>
<body>

    <%- include("partials/head")%>
    <%- include("partials/navigation") %>
    <div class="p-3 mb-0 ml-5 mr-5 mt-0">
      <h3>Laboratory</h3>
    </div>
      <div class="p-3 mb-2 ml-5 mr-5 mt-0 bg-success text-white shadow-lg " style="border-radius: 15px;" > 
        
        <div class="p-3 mb-2">
      
          <img src="./img/cards/QC.png" width="8%" height="8%" >
          <img src="./img/cards/AC.png" width="8%" height="8%">
          <img src="./img/cards/KC.png" width="8%" height="8%">
          <img src="./img/cards/7S.png" width="8%" height="8%">
          <img src="./img/cards/2D.png" width="8%" height="8%">
        </div>
      
        <div  class="p-3 mb-2">
          <button> Faro Exterior</button>
          <button> Faro Interior</button>
          <button> Cortar por la carta n</button>
          <button> Random Shuffle</button>
          <button> Poner la carta x en la posicion y (Delante del )</button>
        </div>
      
      
        </div>
        <div class="card">
          <h5 class="card-header">Current combination</h5>
          <div class="card-body">
            <p class="card-text"> <strong> Mnemonica</strong> --> Faro Shuffle Int -->
            Faro Shuffle Ext --> Cut by 5 Hearts --> Faro Shuffle Ext --> <strong>Aronson</strong>--> Cut by A Spades
            --> Faro Shuffle Int --> <strong>New Deck Order </strong></p>
            <a href="#" class="btn btn-primary">Add to My Combinations</a>
          </div>
        </div>
          
          
      
</body>
<script>



</script>
</html>