
<footer class="page-footer font-small bg-dark pt-2">

   
    <div class="footer-copyright text-center py-2 ">
        <p style="color:white">© 2020 DeckLab. All rights reserved </p>
     
    </div>
    
  
  </footer>
