
<nav class="navbar navbar-light bg-light navbar-expand-sm  py-md-3 " >
    <a class="navbar-brand" href="/">
    <img src="./img/logo.png" width="40" height="40"> DeckLab 
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/lab" style="color: rgb(48, 45, 45);">Laboratory</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile" style="color: rgb(48, 45, 45);">Profile</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/algorithm" style="color: rgb(48, 45, 45);">Algorithm</a>
        </li>
       
      </ul>
      
    </div>
    
  </nav>
  <div style="
     margin-top:0px;
     margin-bottom:0px;
     height:1px;
     width:100%;
     border-top:1px solid rgb(202, 197, 197);
    ">
    
  </div>
  
 