


.tapete {
  display: flex; 
  border-radius: 15px; 
  background-color: #088A29;
  flex-direction: column;
  
  
      
}

.naipe {
  width: 0.7%;
  height: 0.7%;
  display: inline-block;
  margin-right: 1%;
  
 
}

.operations {
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  
       
}
.naipes{
  background-color: #088A29;
 
  
}

.origin{
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

}


/* Proporcion en px 226 * 314 
Mirar como arreglar el tema del navegador
Posicionar las cartas correctamente: position:relative?
Como hacer que tras las operaciones no se vayan menguando, random shuffle luego está todo igual, por qué?
Solo expandido con new deck order
Hacer responsive usar chrome inspeccionar
Mensaje para girar pantalla desde móvil 
https://uniwebsidad.com/foro/pregunta/339/como-hacer-que-una-web-se-abra-en-horizontal-al-acceder-con-el-movil/*/
.naipeImg{
  width: 132.94px;
  height: 184.7px;
  

}
 